/* Add your CSS styles here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-image: url(""); */
    background-position: 100%;
}

.header__content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
/* h1{
    height: 40px;
    width: 100px;
} */

.header__content p {
    font-size: 1.2rem;
    color: #666;
}

.main__content {
    padding: 2rem;
}

.product__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 30px;
}

.product__item{
    width: 300px;
    margin-bottom: 2rem;
}


.product__item img {
    width: 100%;
    border-radius: 5px;
}

.product__item h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.product__item p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
}

.product__item button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product__item button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f4f4f4;
    padding: 2rem 0;
    text-align: center;
}

.footer_container {
    display: flex;
    justify-content: space-around;
}

.footer__col {
    flex: 1;
}

.footer__col h4 {
    margin-bottom: 1rem;
}

.footer_bar {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

.footer_bar .copyright {
    text-align: center;
}
